**/Downloads
.git
**/.env
**/.env.*
!**/.env.example
**/*.log
**/*.log.*
**/*.bak
**/*.html
!tests/mock_portal/templates/*.html
**/chrome*
**/.pytest*
**/.bc_ui_run.json
**/.bc.lock
**/.code
**/.venv
**/__pycache__
apps/browser
apps/db
