# Used by deploy_remote.sh
#
# remote (ssh) user and host
REMOTE_USER=username
REMOTE_HOST=hostname or ip address
# remote path to cloned git repo of BillCollector
REMOTE_PATH=/path/to/cloned/billcollector/repo
# installation script for building the docker image
INSTALL_SCRIPT=install_docker-image.sh
INSTALL_SCRIPT_ARGS=arg for script, e.g. playwright or selenium
# git branch to be fetched
GIT_BRANCH=main
